{
   "arrowParens": "avoid",
   "semo": false,
   "trailingComma": "none",
   "endOfLine": "lf",
   "tabWidth": 3,
   "useTabs": false,
   "singleQuote": true,
   "printWidth": 120,
   "jsxSingleQuote": false
}