@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
   box-sizing: border-box;
}
* {
   margin: 0;
   padding: 0;
}
h1,
h1,
h3,
h4,
h5,
h6 {
   color: #404040;
}
img,
picture,
svg,
video {
   display: block;
   max-width: 100%;
}

body {
   min-height: 100vh;
   font-family: 'Quicksand', 'Nunito', 'Roboto', sans-serif;
   font-weight: 600;
   background-color: #ecf0f5;
   color: #404040;
}

.container {
   margin: 0 auto;
}
*::-webkit--webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
   background-color: #f5f5f5;
   border-radius: 10px;
}
*::-webkit-scrollbar {
   width: 5px;
   background-color: #f5f5f5;
}
*::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: #fff;
   background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#009962), to(#009962), color-stop(0.6, #009962));
}

#loader-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1000;
}
#loader {
   display: block;
   position: relative;
   left: 50%;
   top: 50%;
   width: 150px;
   height: 150px;
   margin: -75px 0 0 -75px;
   border-radius: 50%;
   border: 3px solid transparent;
   border-top-color: #3498db;

   -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
   animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
   z-index: 1001;
}

#loader:before {
   content: '';
   position: absolute;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border-radius: 50%;
   border: 3px solid transparent;
   border-top-color: #e74c3c;

   -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
   animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
   content: '';
   position: absolute;
   top: 15px;
   left: 15px;
   right: 15px;
   bottom: 15px;
   border-radius: 50%;
   border: 3px solid transparent;
   border-top-color: #f9c922;

   -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
   animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
   0% {
      -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg); /* IE 9 */
      transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
   }
   100% {
      -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg); /* IE 9 */
      transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
   }
}
@keyframes spin {
   0% {
      -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg); /* IE 9 */
      transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
   }
   100% {
      -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg); /* IE 9 */
      transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
   }
}

#loader-wrapper .loader-section {
   position: fixed;
   top: 0;
   width: 51%;
   height: 100%;
   background: #fff;
   z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
   left: 0;
}
#loader-wrapper .loader-section.section-right {
   right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
   -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
   -ms-transform: translateX(-100%); /* IE 9 */
   transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */
   -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
   transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-right {
   -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
   -ms-transform: translateX(100%); /* IE 9 */
   transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */
   -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
   transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader {
   opacity: 0;

   -webkit-transition: all 0.3s ease-out; /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
   transition: all 0.3s ease-out; /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper {
   visibility: hidden;

   -webkit-transform: translateY(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
   -ms-transform: translateY(-100%); /* IE 9 */
   transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */

   -webkit-transition: all 0.3s 1s ease-out; /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
   transition: all 0.3s 1s ease-out; /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.topic-dropdown-item {
   transform: scaleY(0);
   transform-origin: top;
   transition: all 0.25s ease;
}
.topic-dropdown-item.show {
   transform: scaleY(1);
}

.container-dropdown .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
   height: 100%;
}

.topic-parent {
   border-radius: 7px 7px 0 0;
}

.input-hover-border-bottom,
.input-hover-border-bottom:hover,
.input-hover-border-bottom:focus {
   border-bottom: 3px solid #000;
}
.table-primary .ant-table-thead .ant-table-cell {
   background-color: #009962;
   color: white;
}
.table-dark .ant-table-thead .ant-table-cell {
   background-color: #009962;
   color: white;
}
.table-dark .ant-spin-container {
   background-color: #009962;
   color: white;
}
.ant-table-thead > tr > th {
   padding: 10px 16px !important;
}
.ant-menu-sub.ant-menu-inline {
   background: #24233c;
   color: white;
}
.ant-menu-submenu-selected,
.ant-menu-light .ant-menu-submenu-title:hover,
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow,
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-expand-icon,
.ant-menu-submenu-arrow,
.ant-menu-submenu-expand-icon {
   color: white;
}

.search-banner {
   background: #efefef url(../src/assets/images/search-banner.jpg) no-repeat !important;
   padding: 100px 0 45px 0 !important;
   height: auto !important;
   background-position: center !important;
   min-height: 300px !important;
}
.search-input .ant-input {
   outline: none;
}
.select-topic.ant-select:not(.ant-select-customize-input) .ant-select-selector {
   background-color: transparent;
   border: none;
   color: black;
}
.link-no-color {
   color: inherit;
   text-decoration: none;
}
.link-no-color:hover {
   color: #006e58;
}
.show-more {
   cursor: pointer;
   padding: 10px 0;
   background: #fff;
   text-align: center;
   box-shadow: 0 0 25px 5px #fff;
   z-index: 1000;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
}
.avatar-container {
   display: flex;
   align-items: center;
}

.avatar-wrapper {
   position: relative;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 16px;
}

.avatar-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.avatar-icon {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 48px;
}

.avatar-button {
   margin-top: 16px;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
   background: #dde3eb;
}
.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab {
   padding: 20px 10px;
}
.ant-tabs > .ant-tabs-nav {
   margin-bottom: 0;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
   color: #404040;
}
.ant-tabs-ink-bar {
   background: #404040;
}
.select-customize.ant-select:not(.ant-select-customize-input) .ant-select-selector {
   border: none;
   box-shadow: none;
}
.select-customize.ant-select:not(.ant-select-customize-input) .ant-select-selector:focus {
   outline: none;
}
