<!DOCTYPE html>
<html>
<head>
    <title>Welcome to our site</title>
</head>
<body>
    <p>Dear {name},</p>
    <p>Welcome to our site! We are excited to have you join our community.</p>
    <p>Thank you,</p>
    <p>The Site Team</p>
</body>
</html>